.main-box{
    border: 2px solid black;
    height: 250px;
    width: 500px;
    background-color: black;
    padding: 30px;
}
.box1{
    border: 2px solid yellow;
    height: 200px;
    width: 200px;
    float: left;
    background-color: rgb(245, 14, 149);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
   color: white;
    
}
.box2{
    border: 2px solid yellow;
    height: 200px;
    width: 200px;
    float: right;
    background-color: green;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    color: white;
}